@* Added this code because it is in another parent form control *@

@if(searchFilter is null)
{
    searchFilter = string.Empty;
}

<EditForm Enhance="true" Model="searchFilter" FormName="formSearch" OnSubmit="Search">
    <div class="input-group">
        <InputText class="form-control" placeholder="Type something to search" @bind-Value="this.searchFilter"></InputText>&nbsp;
        <button type="submit" class="btn-success input-group-text">Search</button>
    </div>
</EditForm>

@code {
    [SupplyParameterFromForm]
    private string searchFilter { get; set; } = string.Empty;
    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    private void Search()
    {
        OnSearch.InvokeAsync(searchFilter);
    }
}

@* Enhance="true" attribute used to do partial page render
not reload everything - blazor.web.js is handling it*@