@page "/purchase"

@attribute [Authorize]

@inject AuthenticationStateProvider AuthenticationStateProvider;

@* We cannot specify Interactive Server as an attribute for AutoCompleteComponent like @rendermode="InteractiveServer"
because page is in Blazor SSR mode while Auto Complete in Interactive, so why this entire component made Interactive*@
@rendermode InteractiveServer

@*It already available in Program.cs from AddRazorComponents()*@
@inject IJSRuntime JSRuntime

@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase;
@inject IViewInventoryByIdUseCase ViewInventoryByIdUseCase;
@inject IPurchaseInventoryUseCase PurchaseInventoryUseCase;

<h3>Purchase Inventory</h3>
<br/>

<EditForm id="purchase-form" Model="purchaseViewModel" OnValidSubmit="Purchase">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <div class="form-group">
        <label for="po">Purchase Order #</label>
        <InputText id="po" class="form-control" @bind-Value=purchaseViewModel.PONumber autocomplete="off"></InputText>
    </div>
    <br/>
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <AutoCompleteComponent Label="Inventory to Purchase" SearchFunction="SearchInventory" OnItemSelected="HandleItemSelected"></AutoCompleteComponent>
                @if (purchaseViewModel.InventoryPrice > 0)
                {
                    <text>Price:</text>
                    @purchaseViewModel.InventoryPrice.ToString("c")
                }
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <label for="qty">Quantity</label>
        <InputNumber id="qty" class="form-control" @bind-Value=purchaseViewModel.QuantityToPurchase autocomplete="off"></InputNumber>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Purchase</button>
</EditForm>
<br />

@code {
    // private ItemViewModel? selectedItem;

    private PurchaseViewModel purchaseViewModel = new();
    private Inventory? selectedInventory = null;

    private AuthenticationState? authState;

    protected override async Task OnInitializedAsync()
    {
        authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            JSRuntime.InvokeVoidAsync("preventFormSubmission", "purchase-form");
        }
    }

    private async Task<List<ItemViewModel>?> SearchInventory(string name)
    {
        var list = await ViewInventoriesByNameUseCase.ExecuteAsync(name);

        if (list is null) return null;

        var itemList = list.Select(inv => new ItemViewModel { Id = inv.InventoryId, Name = inv.InventoryName }).ToList();

        return itemList;
    }

    public async Task HandleItemSelected (ItemViewModel item)
    {
        // selectedItem = item;

        selectedInventory = await ViewInventoryByIdUseCase.ExecuteAsync(item.Id);

        purchaseViewModel.InventoryId = item.Id;
        purchaseViewModel.InventoryPrice = selectedInventory.Price;
    }

    private async Task Purchase()
    {
        string userName = string.Empty;
        var isUserAuthenticated = authState?.User?.Identity?.IsAuthenticated;

        if (isUserAuthenticated.HasValue && isUserAuthenticated.Value)
        {
            userName = authState?.User?.Identity?.Name ?? string.Empty;
        }

        if (selectedInventory is not null)
        {
            await PurchaseInventoryUseCase.ExecuteAsync(purchaseViewModel.PONumber, selectedInventory, purchaseViewModel.QuantityToPurchase, userName);
            purchaseViewModel = new();
            selectedInventory = null;
        }        
    }
}
