<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="IMS.WebApp.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <!--Partial Rendering: Enhanced Navigation: No full Page reload-->
    <!--blazor.web.js can be removed but Page all the time will be refreshed-->
    <!--Program -> App -> Routes -> @Body replaced by component in Main Layout-->
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
